{{template "base".}}

{{define "title"}}About {{end}}

{{define "body"}}
 <h2>About </h2>
 
 <p>About snippetbox; this application helps users  to create gist  which  last 
 for certain duration</P>

 {{end}}