{{template "base" . }}

{{define "title"}}Change Password{{end}}
 {{define "body"}}

 <form action='/user/change-password' method='POST' novalidate>
<!--Include the CSRF token -->
<input type='hidden' name='csrf_token' value='{{.CSRFToken}}'>
{{with .Form}}
<div>
<label>Current password:</label>
{{with .Errors.Get "currentpassword"}}
<label class='error'>{{.}}</label>
{{end}}
<input type='password' name='currentpassword'>
</div>



 <div>
<label>New password:</label>
{{with .Errors.Get "newpassword"}}
<label class='error'>{{.}}</label>
{{end}}
<input type='password' name='newpassword'>
</div>



<div>
<label>Confirm password:</label>
{{with .Errors.Get "confirmpassword"}}
<label class='error'>{{.}}</label>
{{end}}

<input type='password' name='confirmpassword'>
</div>

<div>
<input type='submit' value='change password'>
</div>


{{end}}
 </form>
 {{end}}

